@import "compass/utilities/sprites";
$icons-sprite: sprite-map("../images/*.png");

.icons-sprite-bg {
  background-image: $icons-sprite;
}

button {
  display: inline-block;
}

$inlove: -4px -4px 94px 87px;
$sad: -4px -99px 99px 96px;
$happy: -4px -203px 101px 104px;
$submitbtuton: -190px -441px 240px 70px;
$background-scaled: -4px -845px 1222px 815px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}


@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.btn {
    background-image: $icons-sprite;
    background-position: sprite-position($icons-sprite, btn1);
    width: image-width("btn1.png");
    height: image-height("btn1.png");
    position: absolute;
    left: 100px;
}

.inlove {
    background-image: url("sprites.png");
    width: sprite-width($inlove);
    height: sprite-height($inlove);
 }

form {
    background-image: url("images-s42b1e9a599.png");
    @include sprite-position($background-scaled);
    @include sprite-width($background-scaled);
    @include sprite-height($background-scaled);
    background-repeat: no-repeat;
}

$font-family: 'Raleway', sans-serif;

form {
  position:relative;
  border: 0;
  height: 800px;
  width: 690px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 10px;
  line-height: 25px;

}

  fieldset.first { 
    padding: 8px;
    border: 0;
   
  }

  .l1 {
    display: none;
  }


:-moz-placeholder {

 color: black;

 font-style: bold;

}

::-webkit-input-placeholder {

  align-items: center;
  font-style:bold; 
  letter-spacing:3px; 
  color: black; 
  font-family: 'Raleway', sans-serif;
  }

legend {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}


.first input {
  width:250px;
  display:block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}

/*input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
} */

.personal-details {
  float: right;
}

textarea {
  width:375px;
  height:150px;
}

.widget select,
.no-widget .select {
  position : absolute;
  left     : -5000em;
  height   : 0;
  overflow : hidden;
}
 
 
.select {
  position: relative;
  display : inline-block;
}
 
.select.active,
.select:focus {
  box-shadow: 0 0 3px 1px #227755;
  outline: none;
}
 
.select .optList {
   font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  top     : 100%;
  left    : 0;
}
 
.select .optList.hidden {
  max-height: 0;
  visibility: hidden;
  border: 0;
  height: 500px;
  width: 600px;
  margin: 1px;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 10px;
  line-height: 25px;
  }
  
.select {
    align-items: center;
    position:relative;
    display: inline-block;
    width: 254px;
    box-sizing: border-box;
    border: 1px solid #999;
    height: 30px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    -webkit-appearance: inherit;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    padding: 1px;
    font-weight: normal;
}
 
.select .value {
  display  : inline-block;
  width    : 100%;
  overflow : hidden;
  white-space   : nowrap;
  text-overflow : ellipsis;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  padding: 1px;
  background-color: white;
  align-items: center;
  font-style: bold; 
  letter-spacing: 3px; 
  color: black; 
}
 
.select:after {
  content : "▼";
  position: absolute;
  z-index : 1;
  height  : 100%;
  width   : 2em; /* 20px */
  top     : 0;
  right   : 0;
 
  padding-top : .1em;
 
  -moz-box-sizing : border-box;
  box-sizing : border-box;
  text-align : center;
  border-radius: 0 .1em .1em 0;
  background-color : white;
  color : black;
}
 
.select .optList {
  z-index : 2;
  list-style: none;
  margin : 0;
  padding: 0;
  background: #f0f0f0;
  border: .2em solid #000;
  border-top-width : .1em;
  border-radius: 0 0 .4em .4em;
  box-shadow: 0 .2em .4em rgba(0,0,0,.4);
  box-sizing : border-box;
  min-width : 100%;
  max-height: 10em; /* 100px */
  overflow-y: auto;
  overflow-x: hidden;
  letter-spacing: 3px;
}
 
.select .option {
  padding: .2em .3em;
}
 
.select .highlight {
  background: rgba(119,114,105,0.1);
  color: black;
}

fieldset.second {
    padding: 16px;
    border: 0;
  }

legend {
  float: right;
} 

[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}


[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  border-radius: 1em;
  border: 0.15em solid #fff;
  box-shadow: 0 0 0 0.1em #000;
  margin-right: 0.5em;
  margin-top: 0.5em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: black;
  box-shadow: 0 0 0 0.08em #000;
}


/** begin style for how does product make you feel */

input[type="checkbox"].graphic {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
    display: block;
    display: inline;
}

input[type="checkbox"].graphic + label,
input[type="checkbox"].graphic + label:after {
    padding: 6px 9px;
    display: inline-block;
}
input[type="checkbox"].graphic + label {
    position: relative;
    padding-left: 35px; 
    /* style */
    background-color: rgba(255,255,255,0.4);
    color: #444;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    margin: 1px;
}
input[type="checkbox"].graphic + label:after {
    position: absolute;
    /* style */
    top: -22%;
    left: -3px;
    font-size: 180%;
    font-color:blue;
}
input[type="checkbox"].graphic + label:hover:after,
input[type="checkbox"].graphic:checked + label:after {
    content: '❤';
}

input[type="checkbox"].graphic2 + label:hover:after,
input[type="checkbox"].graphic2:checked + label:after {
    content: '☺';
}

input[type="checkbox"].graphic3 + label:hover:after,
input[type="checkbox"].graphic3:checked + label:after {
    content: '☹';
}

/* style */
input[type="checkbox"].graphic + label:hover:after {
  text-shadow: 0 0 7px rgba(255,255,255,0.1);
  color: rgba(0,0,0,0);
}
input[type="checkbox"].graphic:checked + label:hover:after {
  text-shadow: none;
  color: inherit;
}
input[type="checkbox"].graphic + label:hover,
input[type="checkbox"].graphic:checked + label:hover {
    border: 1px solid rgba(255,255,255,0.7);
}

input[type="checkbox"].graphic + label:active,
input[type="checkbox"].graphic:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 0 7px 1px rgba(0,0,0,0.5), inset 0px 0 3px 0 rgba(0,0,0,0.4);
  border: none;
  margin: 2px;
}
input[type="checkbox"].graphic:checked + label {
    color: rgba(0,0,0,1);
    border: 1px solid #888;
}

/** end style for how does product make you feel */

h4 {
  float: right;
}

fieldset.third {
    padding: 12px;
    border: 0;
    
  }

.feedback {
  float: right;
}

.enteryourfeedback {
  display: none;
}


