
// begin sass dynamic sprite positioning
@import "compass/utilities/sprites";
$icons-sprite: sprite-map("../images/*.png");

.icons-sprite-bg {
  background-image: $icons-sprite;
}
// end sass dynamic sprite positioning


//font adding minimalistic and clean font 
$font-family: 'Raleway', sans-serif;


//style for the form and background sprite image
form {
  background-image: $icons-sprite;
  width: 550px;
  height: 500px; 
  position:relative;
  border: 0;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 10px;
  line-height: 25px;
}


//begin style for Personal details
  fieldset.first { 
    padding: 8px;
    border: 0;
    margin-top: 7px;
  }

//hide all labels
  .l1 {
    display: none;
  }

//begin style for input placeholder text
:-moz-placeholder {
 color: black;
 font-style: bold;
}

::-webkit-input-placeholder {
  align-items: center;
  font-style:bold; 
  letter-spacing:3px; 
  color: black; 
  font-family: 'Raleway', sans-serif;
  }

//end style for input placeholder text



//style input area
.first input {
  width:250px;
  display:block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}

/*
to change the background of input when onFocus
input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
} */

.personal-details {
  float: right;
  background-color: rgba(240, 240, 240, 0.5)
}

//end style for personal details



//begin style for "WHERE ARE YOU FROM?" section

.widget select,
.no-widget .select {
  position : absolute;
  left     : -5000em;
  height   : 0;
  overflow : hidden;
}
 
 
.select {
  position: relative;
  display : inline-block;
}
 
.select.active,
.select:focus {
  box-shadow: 0 0 3px 1px #227755;
  outline: none;
}
 
.select .optList {
   font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  top     : 100%;
  left    : 0;
}
 
.select .optList.hidden {
  max-height: 0;
  visibility: hidden;
  border: 0;
  height: 500px;
  width: 600px;
  margin: 1px;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 10px;
  line-height: 25px;
  }
  
.select {
    align-items: center;
    position:relative;
    display: inline-block;
    width: 254px;
    box-sizing: border-box;
    border: 1px solid #999;
    height: 30px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    -webkit-appearance: inherit;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    padding: 1px;
    font-weight: normal;
}
 
.select .value {
  display  : inline-block;
  width    : 100%;
  overflow : hidden;
  white-space   : nowrap;
  text-overflow : ellipsis;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  padding: 1px;
  background-color: white;
  align-items: center;
  font-style: bold; 
  letter-spacing: 3px; 
  color: black; 
}
 
.select:after {
  content : "▼";
  position: absolute;
  z-index : 1;
  height  : 100%;
  width   : 2em; /* 20px */
  top     : 0;
  right   : 0;
 
  padding-top : .1em;
 
  -moz-box-sizing : border-box;
  box-sizing : border-box;
  text-align : center;
  border-radius: 0 .1em .1em 0;
  background-color : white;
  color : black;
}
 
.select .optList {
  z-index : 2;
  list-style: none;
  margin : 0;
  padding: 0;
  background: #f0f0f0;
  border: .2em solid #000;
  border-top-width : .1em;
  border-radius: 0 0 .4em .4em;
  box-shadow: 0 .2em .4em rgba(0,0,0,.4);
  box-sizing : border-box;
  min-width : 100%;
  max-height: 10em; /* 100px */
  overflow-y: auto;
  overflow-x: hidden;
  letter-spacing: 3px;
}
 
.select .option {
  padding: .2em .3em;
}
 
.select .highlight {
  background: rgba(119,114,105,0.1);
  color: black;
}
//end style for "WHERE ARE YOU FROM?" section



//begin style for "WHICH IS BETTER ?" section
fieldset.second {
    padding-left: 16px;
    padding-bottom: 0px;
    padding-top: 0;
    border: 0;
  }

[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}


[type="radio"] + span {
  display: block;
}


/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  border-radius: 1em;
  border: 0.15em solid #fff;
  box-shadow: 0 0 0 0.1em #000;
  margin-right: 0.5em;
  margin-top: 0.5em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: black;
  box-shadow: 0 0 0 0.08em #000;
}
//end style for "WHICH IS BETTER ?" section



/** begin style for how does product make you feel */


.grey {
   width: 526px;
   font-weight: 500;
}

input[type="checkbox"].graphic {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
    display: block;
    display: inline;
}

input[type="checkbox"].graphic + label,
input[type="checkbox"].graphic + label:after {
    padding: 6px 12px;
    display: inline-block;
}

input[type="checkbox"].graphic + label {
    position: relative;
    padding-left: 40px;
    background-color: rgba(240, 240, 240, 0.5);
    color: black;
    border: 0;
    border-radius: 0;
    margin: 1px;
    margin-top: 8px;
    height: 25px;
    width: 70px;
    display: block;
}

input[type="checkbox"].graphic + label:after {
    position: absolute;
    top: 0%;
    left: -5px;
    font-size: 200%;

}
input[type="checkbox"].graphic + label:hover:after,
input[type="checkbox"].graphic:checked + label:after {
    content: '❤';
}

input[type="checkbox"].graphic2 + label:hover:after,
input[type="checkbox"].graphic2:checked + label:after {
    content: '☺';
}

input[type="checkbox"].graphic3 + label:hover:after,
input[type="checkbox"].graphic3:checked + label:after {
    content: '☹';
}

input[type="checkbox"].graphic + label:hover:after {
  text-shadow: 0 0 7px rgba(255,255,255,0.1);
  color: rgba(0,0,0,0);
}

input[type="checkbox"].graphic:checked + label:hover:after {
  text-shadow: none;
  color: inherit;
}

input[type="checkbox"].graphic + label:hover,
input[type="checkbox"].graphic:checked + label:hover {
    border: 1px solid rgba(255,255,255, 0);
}

input[type="checkbox"].graphic + label:active,
input[type="checkbox"].graphic:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 0 7px 1px rgba(0,0,0,0.5), inset 0px 0 3px 0 rgba(0,0,0,0.4);
  border: none;
  margin: 2px;
}

input[type="checkbox"].graphic:checked + label {
    color: rgba(0,0,0,2);
}

//begin feedback

fieldset.third {
    padding: 12px;
    border: 0;  
}

textarea {
  width:250px;
  height:100px;
}

h4 {
   float: right;
   font-weight: 500;
   background-color: rgba(240, 240, 240, 0.5);;
   margin-top: 8px;
   color: black;
}

.enteryourfeedback {
  display: none;
}

//allign feedback to the right
.feedback {
  float: right;
}


//begin style submit button
button {
  display: inline-block;
}

.btn {
    background-image: $icons-sprite;
    background-position: sprite-position($icons-sprite, btn1);
    width: image-width("btn1.png");
    height: image-height("btn1.png");
    position: absolute;
    left:345px;
    bottom: 19px;
    border: 2px solid #c3b32c;
    background-position: -1px -533px;
}

.btn:hover {
    background-image: $icons-sprite;
    background-position: sprite-position($icons-sprite, btn2);
    width: image-width("btn2.png");
    height: image-height("btn2.png");
    position: absolute;
    left:345px;
    bottom: 19px;
    border: 2px solid #968816;
    background-position: 0 -600px;
}

//end style submit button

/** end feedback*/

// float all legend text type to the right
legend {
  float: right;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background-color: rgba(240, 240, 240, 0.5);
  color: black;
}







