@charset "UTF-8";
/* line 6, ../sass/screen.scss */
.icons-sprite-bg {
  background-image: url('../images/../images-s42b1e9a599.png');
}

/* line 17, ../sass/screen.scss */
form {
  background-image: url('../images/../images-s42b1e9a599.png');
  width: 550px;
  height: 500px;
  position: relative;
  border: 0;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 10px;
  line-height: 25px;
}

/* line 33, ../sass/screen.scss */
fieldset.first {
  padding: 8px;
  border: 0;
  margin-top: 7px;
}

/* line 40, ../sass/screen.scss */
.l1 {
  display: none;
}

/* line 45, ../sass/screen.scss */
:-moz-placeholder {
  color: black;
  font-style: bold;
}

/* line 50, ../sass/screen.scss */
::-webkit-input-placeholder {
  align-items: center;
  font-style: bold;
  letter-spacing: 3px;
  color: black;
  font-family: 'Raleway', sans-serif;
}

/* line 63, ../sass/screen.scss */
.first input {
  width: 250px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}

/*
to change the background of input when onFocus
input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
} */
/* line 84, ../sass/screen.scss */
.personal-details {
  float: right;
  background-color: rgba(240, 240, 240, 0.5);
}

/* line 95, ../sass/screen.scss */
.widget select,
.no-widget .select {
  position: absolute;
  left: -5000em;
  height: 0;
  overflow: hidden;
}

/* line 104, ../sass/screen.scss */
.select {
  position: relative;
  display: inline-block;
}

/* line 109, ../sass/screen.scss */
.select.active,
.select:focus {
  box-shadow: 0 0 3px 1px #227755;
  outline: none;
}

/* line 115, ../sass/screen.scss */
.select .optList {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  top: 100%;
  left: 0;
}

/* line 124, ../sass/screen.scss */
.select .optList.hidden {
  max-height: 0;
  visibility: hidden;
  border: 0;
  height: 500px;
  width: 600px;
  margin: 1px;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 10px;
  line-height: 25px;
}

/* line 139, ../sass/screen.scss */
.select {
  align-items: center;
  position: relative;
  display: inline-block;
  width: 254px;
  box-sizing: border-box;
  border: 1px solid #999;
  height: 30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  font-family: 'Raleway', sans-serif;
  margin: 5px;
  -webkit-appearance: inherit;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  padding: 1px;
  font-weight: normal;
}

/* line 159, ../sass/screen.scss */
.select .value {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  padding: 1px;
  background-color: white;
  align-items: center;
  font-style: bold;
  letter-spacing: 3px;
  color: black;
}

/* line 175, ../sass/screen.scss */
.select:after {
  content: "▼";
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 2em;
  /* 20px */
  top: 0;
  right: 0;
  padding-top: .1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0 .1em .1em 0;
  background-color: white;
  color: black;
}

/* line 194, ../sass/screen.scss */
.select .optList {
  z-index: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  border: .2em solid #000;
  border-top-width: .1em;
  border-radius: 0 0 .4em .4em;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  min-width: 100%;
  max-height: 10em;
  /* 100px */
  overflow-y: auto;
  overflow-x: hidden;
  letter-spacing: 3px;
}

/* line 212, ../sass/screen.scss */
.select .option {
  padding: .2em .3em;
}

/* line 216, ../sass/screen.scss */
.select .highlight {
  background: rgba(119, 114, 105, 0.1);
  color: black;
}

/* line 225, ../sass/screen.scss */
fieldset.second {
  padding-left: 16px;
  padding-bottom: 0px;
  padding-top: 0;
  border: 0;
}

/* line 232, ../sass/screen.scss */
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 243, ../sass/screen.scss */
[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
/* line 249, ../sass/screen.scss */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  border-radius: 1em;
  border: 0.15em solid #fff;
  box-shadow: 0 0 0 0.1em #000;
  margin-right: 0.5em;
  margin-top: 0.5em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
/* line 264, ../sass/screen.scss */
[type="radio"]:checked + span:before {
  background: black;
  box-shadow: 0 0 0 0.08em #000;
}

/** begin style for how does product make you feel */
/* line 275, ../sass/screen.scss */
.grey {
  width: 526px;
  font-weight: 500;
}

/* line 280, ../sass/screen.scss */
input[type="checkbox"].graphic {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: block;
  display: inline;
}

/* line 292, ../sass/screen.scss */
input[type="checkbox"].graphic + label,
input[type="checkbox"].graphic + label:after {
  padding: 6px 12px;
  display: inline-block;
}

/* line 298, ../sass/screen.scss */
input[type="checkbox"].graphic + label {
  position: relative;
  padding-left: 40px;
  background-color: rgba(240, 240, 240, 0.5);
  color: black;
  border: 0;
  border-radius: 0;
  margin: 1px;
  margin-top: 8px;
  height: 25px;
  width: 70px;
  display: block;
}

/* line 312, ../sass/screen.scss */
input[type="checkbox"].graphic + label:after {
  position: absolute;
  top: 0%;
  left: -5px;
  font-size: 200%;
}

/* line 319, ../sass/screen.scss */
input[type="checkbox"].graphic + label:hover:after,
input[type="checkbox"].graphic:checked + label:after {
  content: '❤';
}

/* line 324, ../sass/screen.scss */
input[type="checkbox"].graphic2 + label:hover:after,
input[type="checkbox"].graphic2:checked + label:after {
  content: '☺';
}

/* line 329, ../sass/screen.scss */
input[type="checkbox"].graphic3 + label:hover:after,
input[type="checkbox"].graphic3:checked + label:after {
  content: '☹';
}

/* line 334, ../sass/screen.scss */
input[type="checkbox"].graphic + label:hover:after {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
  color: transparent;
}

/* line 339, ../sass/screen.scss */
input[type="checkbox"].graphic:checked + label:hover:after {
  text-shadow: none;
  color: inherit;
}

/* line 344, ../sass/screen.scss */
input[type="checkbox"].graphic + label:hover,
input[type="checkbox"].graphic:checked + label:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}

/* line 349, ../sass/screen.scss */
input[type="checkbox"].graphic + label:active,
input[type="checkbox"].graphic:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 0 7px 1px rgba(0, 0, 0, 0.5), inset 0px 0 3px 0 rgba(0, 0, 0, 0.4);
  border: none;
  margin: 2px;
}

/* line 356, ../sass/screen.scss */
input[type="checkbox"].graphic:checked + label {
  color: black;
}

/* line 362, ../sass/screen.scss */
fieldset.third {
  padding: 12px;
  border: 0;
}

/* line 367, ../sass/screen.scss */
textarea {
  width: 250px;
  height: 100px;
}

/* line 372, ../sass/screen.scss */
h4 {
  float: right;
  font-weight: 500;
  background-color: rgba(240, 240, 240, 0.5);
  margin-top: 8px;
  color: black;
}

/* line 380, ../sass/screen.scss */
.enteryourfeedback {
  display: none;
}

/* line 385, ../sass/screen.scss */
.feedback {
  float: right;
}

/* line 391, ../sass/screen.scss */
button {
  display: inline-block;
}

/* line 395, ../sass/screen.scss */
.btn {
  background-image: url('../images/../images-s42b1e9a599.png');
  background-position: 0 -533px;
  width: 205px;
  height: 64px;
  position: absolute;
  left: 345px;
  bottom: 19px;
  border: 2px solid #c3b32c;
  background-position: -1px -533px;
}

/* line 407, ../sass/screen.scss */
.btn:hover {
  background-image: url('../images/../images-s42b1e9a599.png');
  background-position: 0 -597px;
  width: 202px;
  height: 65px;
  position: absolute;
  left: 345px;
  bottom: 19px;
  border: 2px solid #968816;
  background-position: 0 -600px;
}

/** end feedback*/
/* line 424, ../sass/screen.scss */
legend {
  float: right;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background-color: rgba(240, 240, 240, 0.5);
  color: black;
}
