@charset "UTF-8";
/* line 40, ../sass/screen.scss */
.btn {
  background-image: url("sprites.png");
  background-position: -190px -441px;
  width: 240px;
  height: 70px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 220px;
  left: 230px;
}

/* line 51, ../sass/screen.scss */
.inlove {
  background-image: url("sprites.png");
  width: 94px;
  height: 87px;
}

/* line 58, ../sass/screen.scss */
form {
  background-image: url("sprites.png");
  background-position: -4px -845px;
  width: 1222px;
  height: 815px;
  background-repeat: no-repeat;
}

/* line 68, ../sass/screen.scss */
form {
  position: relative;
  border: 0;
  height: 800px;
  width: 690px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 10px;
  line-height: 25px;
}

/* line 82, ../sass/screen.scss */
fieldset.first {
  padding: 12px;
  border: 0;
}

/* line 88, ../sass/screen.scss */
.l1 {
  display: none;
}

/* line 93, ../sass/screen.scss */
:-moz-placeholder {
  color: black;
  font-style: bold;
}

/* line 101, ../sass/screen.scss */
::-webkit-input-placeholder {
  align-items: center;
  font-style: bold;
  letter-spacing: 3px;
  color: black;
  font-family: 'Raleway', sans-serif;
}

/* line 110, ../sass/screen.scss */
legend {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

/* line 116, ../sass/screen.scss */
.first input {
  width: 250px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}

/*input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
} */
/* line 135, ../sass/screen.scss */
.personal-details {
  float: right;
}

/* line 139, ../sass/screen.scss */
textarea {
  width: 375px;
  height: 150px;
}

/* line 144, ../sass/screen.scss */
.widget select,
.no-widget .select {
  position: absolute;
  left: -5000em;
  height: 0;
  overflow: hidden;
}

/* --------------- */
/* Required Styles */
/* --------------- */
/* line 156, ../sass/screen.scss */
.select {
  position: relative;
  display: inline-block;
}

/* line 161, ../sass/screen.scss */
.select.active,
.select:focus {
  box-shadow: 0 0 3px 1px #227755;
  outline: none;
}

/* line 167, ../sass/screen.scss */
.select .optList {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: 300;
  position: absolute;
  top: 100%;
  left: 0;
}

/* line 176, ../sass/screen.scss */
.select .optList.hidden {
  max-height: 0;
  visibility: hidden;
  border: 0;
  height: 500px;
  width: 600px;
  margin: 1px;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: 300;
  padding: 10px;
  line-height: 25px;
}

/* ------------ */
/* Fancy Styles */
/* ------------ */
/* line 195, ../sass/screen.scss */
.select {
  align-items: center;
  position: relative;
  display: inline-block;
  width: 254px;
  box-sizing: border-box;
  border: 1px solid #999;
  height: 30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  font-family: 'Raleway', sans-serif;
  margin: 5px;
  -webkit-appearance: inherit;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  padding: 1px;
}

/* line 214, ../sass/screen.scss */
.select .value {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  padding: 1px;
  background-color: white;
  align-items: center;
  font-style: bold;
  letter-spacing: 3px;
  color: black;
}

/* line 230, ../sass/screen.scss */
.select:after {
  content: "▼";
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 2em;
  /* 20px */
  top: 0;
  right: 0;
  padding-top: .1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0 .1em .1em 0;
  background-color: white;
  color: black;
}

/* line 249, ../sass/screen.scss */
.select .optList {
  z-index: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  border: .2em solid #000;
  border-top-width: .1em;
  border-radius: 0 0 .4em .4em;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  min-width: 100%;
  max-height: 10em;
  /* 100px */
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 267, ../sass/screen.scss */
.select .option {
  padding: .2em .3em;
}

/* line 271, ../sass/screen.scss */
.select .highlight {
  background: rgba(119, 114, 105, 0.1);
  color: black;
}

/* line 276, ../sass/screen.scss */
fieldset.second {
  padding: 12px;
  border: 0;
}

/* line 281, ../sass/screen.scss */
legend {
  float: right;
}

/* line 285, ../sass/screen.scss */
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 296, ../sass/screen.scss */
[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
/* line 301, ../sass/screen.scss */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
/* line 315, ../sass/screen.scss */
[type="radio"]:checked + span:before {
  background: black;
  box-shadow: 0 0 0 0.25em #000;
}

/** begin style for how does product make you feel */
/* line 323, ../sass/screen.scss */
input[type="checkbox"].graphic {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: block;
  display: inline;
}

/* line 336, ../sass/screen.scss */
input[type="checkbox"].graphic + label,
input[type="checkbox"].graphic + label:after {
  padding: 6px 9px;
  display: inline-block;
}

/* line 341, ../sass/screen.scss */
input[type="checkbox"].graphic + label {
  position: relative;
  padding-left: 35px;
  /* style */
  background-color: rgba(255, 255, 255, 0.4);
  color: #444;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 1px;
}

/* line 351, ../sass/screen.scss */
input[type="checkbox"].graphic + label:after {
  position: absolute;
  /* style */
  top: -22%;
  left: -3px;
  font-size: 180%;
  font-color: blue;
}

/* line 359, ../sass/screen.scss */
input[type="checkbox"].graphic + label:hover:after,
input[type="checkbox"].graphic:checked + label:after {
  content: '❤';
}

/* line 364, ../sass/screen.scss */
input[type="checkbox"].graphic2 + label:hover:after,
input[type="checkbox"].graphic2:checked + label:after {
  content: '☺';
}

/* line 369, ../sass/screen.scss */
input[type="checkbox"].graphic3 + label:hover:after,
input[type="checkbox"].graphic3:checked + label:after {
  content: '☹';
}

/* style */
/* line 375, ../sass/screen.scss */
input[type="checkbox"].graphic + label:hover:after {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
  color: transparent;
}

/* line 379, ../sass/screen.scss */
input[type="checkbox"].graphic:checked + label:hover:after {
  text-shadow: none;
  color: inherit;
}

/* line 383, ../sass/screen.scss */
input[type="checkbox"].graphic + label:hover,
input[type="checkbox"].graphic:checked + label:hover {
  border: 1px solid rgba(255, 255, 255, 0.7);
}

/* line 388, ../sass/screen.scss */
input[type="checkbox"].graphic + label:active,
input[type="checkbox"].graphic:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 0 7px 1px rgba(0, 0, 0, 0.5), inset 0px 0 3px 0 rgba(0, 0, 0, 0.4);
  border: none;
  margin: 2px;
}

/* line 394, ../sass/screen.scss */
input[type="checkbox"].graphic:checked + label {
  color: black;
  border: 1px solid #888;
}

/** end style for how does product make you feel */
/* line 401, ../sass/screen.scss */
h4 {
  float: right;
}

/* line 405, ../sass/screen.scss */
fieldset.third {
  padding: 12px;
  border: 0;
}

/* line 411, ../sass/screen.scss */
.feedback {
  float: right;
}

/* line 415, ../sass/screen.scss */
.enteryourfeedback {
  display: none;
}
