@charset "UTF-8";
/* line 4, ../sass/screen.scss */
.icons-sprite-bg {
  background-image: url('../images/../images-s42b1e9a599.png');
}

/* line 8, ../sass/screen.scss */
button {
  display: inline-block;
}

/* line 50, ../sass/screen.scss */
.btn {
  background-image: url('../images/../images-s42b1e9a599.png');
  background-position: 0 -533px;
  width: 205px;
  height: 64px;
  position: absolute;
  left: 100px;
}

/* line 59, ../sass/screen.scss */
.inlove {
  background-image: url("sprites.png");
  width: 94px;
  height: 87px;
}

/* line 65, ../sass/screen.scss */
form {
  background-image: url("images-s42b1e9a599.png");
  background-position: -4px -845px;
  width: 1222px;
  height: 815px;
  background-repeat: no-repeat;
}

/* line 75, ../sass/screen.scss */
form {
  position: relative;
  border: 0;
  height: 800px;
  width: 690px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 10px;
  line-height: 25px;
}

/* line 89, ../sass/screen.scss */
fieldset.first {
  padding: 8px;
  border: 0;
}

/* line 95, ../sass/screen.scss */
.l1 {
  display: none;
}

/* line 100, ../sass/screen.scss */
:-moz-placeholder {
  color: black;
  font-style: bold;
}

/* line 108, ../sass/screen.scss */
::-webkit-input-placeholder {
  align-items: center;
  font-style: bold;
  letter-spacing: 3px;
  color: black;
  font-family: 'Raleway', sans-serif;
}

/* line 117, ../sass/screen.scss */
legend {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

/* line 123, ../sass/screen.scss */
.first input {
  width: 250px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}

/*input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
} */
/* line 142, ../sass/screen.scss */
.personal-details {
  float: right;
}

/* line 146, ../sass/screen.scss */
textarea {
  width: 375px;
  height: 150px;
}

/* line 151, ../sass/screen.scss */
.widget select,
.no-widget .select {
  position: absolute;
  left: -5000em;
  height: 0;
  overflow: hidden;
}

/* line 160, ../sass/screen.scss */
.select {
  position: relative;
  display: inline-block;
}

/* line 165, ../sass/screen.scss */
.select.active,
.select:focus {
  box-shadow: 0 0 3px 1px #227755;
  outline: none;
}

/* line 171, ../sass/screen.scss */
.select .optList {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  top: 100%;
  left: 0;
}

/* line 180, ../sass/screen.scss */
.select .optList.hidden {
  max-height: 0;
  visibility: hidden;
  border: 0;
  height: 500px;
  width: 600px;
  margin: 1px;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 10px;
  line-height: 25px;
}

/* line 195, ../sass/screen.scss */
.select {
  align-items: center;
  position: relative;
  display: inline-block;
  width: 254px;
  box-sizing: border-box;
  border: 1px solid #999;
  height: 30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  font-family: 'Raleway', sans-serif;
  margin: 5px;
  -webkit-appearance: inherit;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  padding: 1px;
  font-weight: normal;
}

/* line 215, ../sass/screen.scss */
.select .value {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  padding: 1px;
  background-color: white;
  align-items: center;
  font-style: bold;
  letter-spacing: 3px;
  color: black;
}

/* line 231, ../sass/screen.scss */
.select:after {
  content: "▼";
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 2em;
  /* 20px */
  top: 0;
  right: 0;
  padding-top: .1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0 .1em .1em 0;
  background-color: white;
  color: black;
}

/* line 250, ../sass/screen.scss */
.select .optList {
  z-index: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  border: .2em solid #000;
  border-top-width: .1em;
  border-radius: 0 0 .4em .4em;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  min-width: 100%;
  max-height: 10em;
  /* 100px */
  overflow-y: auto;
  overflow-x: hidden;
  letter-spacing: 3px;
}

/* line 268, ../sass/screen.scss */
.select .option {
  padding: .2em .3em;
}

/* line 272, ../sass/screen.scss */
.select .highlight {
  background: rgba(119, 114, 105, 0.1);
  color: black;
}

/* line 277, ../sass/screen.scss */
fieldset.second {
  padding: 16px;
  border: 0;
}

/* line 282, ../sass/screen.scss */
legend {
  float: right;
}

/* line 286, ../sass/screen.scss */
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 297, ../sass/screen.scss */
[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
/* line 302, ../sass/screen.scss */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  border-radius: 1em;
  border: 0.15em solid #fff;
  box-shadow: 0 0 0 0.1em #000;
  margin-right: 0.5em;
  margin-top: 0.5em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
/* line 317, ../sass/screen.scss */
[type="radio"]:checked + span:before {
  background: black;
  box-shadow: 0 0 0 0.08em #000;
}

/** begin style for how does product make you feel */
/* line 325, ../sass/screen.scss */
input[type="checkbox"].graphic {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: block;
  display: inline;
}

/* line 337, ../sass/screen.scss */
input[type="checkbox"].graphic + label,
input[type="checkbox"].graphic + label:after {
  padding: 6px 9px;
  display: inline-block;
}

/* line 342, ../sass/screen.scss */
input[type="checkbox"].graphic + label {
  position: relative;
  padding-left: 35px;
  /* style */
  background-color: rgba(255, 255, 255, 0.4);
  color: #444;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 1px;
}

/* line 352, ../sass/screen.scss */
input[type="checkbox"].graphic + label:after {
  position: absolute;
  /* style */
  top: -22%;
  left: -3px;
  font-size: 180%;
  font-color: blue;
}

/* line 360, ../sass/screen.scss */
input[type="checkbox"].graphic + label:hover:after,
input[type="checkbox"].graphic:checked + label:after {
  content: '❤';
}

/* line 365, ../sass/screen.scss */
input[type="checkbox"].graphic2 + label:hover:after,
input[type="checkbox"].graphic2:checked + label:after {
  content: '☺';
}

/* line 370, ../sass/screen.scss */
input[type="checkbox"].graphic3 + label:hover:after,
input[type="checkbox"].graphic3:checked + label:after {
  content: '☹';
}

/* style */
/* line 376, ../sass/screen.scss */
input[type="checkbox"].graphic + label:hover:after {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.1);
  color: transparent;
}

/* line 380, ../sass/screen.scss */
input[type="checkbox"].graphic:checked + label:hover:after {
  text-shadow: none;
  color: inherit;
}

/* line 384, ../sass/screen.scss */
input[type="checkbox"].graphic + label:hover,
input[type="checkbox"].graphic:checked + label:hover {
  border: 1px solid rgba(255, 255, 255, 0.7);
}

/* line 389, ../sass/screen.scss */
input[type="checkbox"].graphic + label:active,
input[type="checkbox"].graphic:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 0 7px 1px rgba(0, 0, 0, 0.5), inset 0px 0 3px 0 rgba(0, 0, 0, 0.4);
  border: none;
  margin: 2px;
}

/* line 395, ../sass/screen.scss */
input[type="checkbox"].graphic:checked + label {
  color: black;
  border: 1px solid #888;
}

/** end style for how does product make you feel */
/* line 402, ../sass/screen.scss */
h4 {
  float: right;
}

/* line 406, ../sass/screen.scss */
fieldset.third {
  padding: 12px;
  border: 0;
}

/* line 412, ../sass/screen.scss */
.feedback {
  float: right;
}

/* line 416, ../sass/screen.scss */
.enteryourfeedback {
  display: none;
}
